.profile-photo{
    margin: auto;
    margin-top: 20px;
    width: 150px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden; 
}
.photo-inner{
    object-fit: cover;
    width: 153px;
    height: 164px;
}

.about-me{
    background-color: #ead7cd;
    border: 2px solid #dac3b5;
    border-radius: 10px;
    width: -webkit-fill-available;
    margin: 25px;
    padding: 10px;
}

.about-me h5{
    margin-left: 2px;
    font-size: 100%;
    font-family:Tahoma, Verdana, sans-serif;
    font-weight: bolder;
    color: #9a3501;
    display: inline;
  }

  .about-me-title{
    font-weight: bolder;
    color: #b5795b;
  }

  .about-me-content{
    font-weight: bolder;
    color: #9a3501;
  }

  .details{
    background-color: #8bccec7e;
    border: 2px solid #89bed97e;
    border-radius: 10px;
    width: -webkit-fill-available;
    margin: 25px;
    padding: 10px;
}

.details h5{
    margin-left: 2px;
    font-size: 100%;
    font-family:Tahoma, Verdana, sans-serif;
    font-weight: bolder;
    color: #2c6f91ec;
    display: inline;
  }

  .details-title{
    font-weight: bolder;
    color: #4e91b3e3
}

  .details-content{
    font-weight: bolder;
    color: #2c6f91ec;
  }

  .email{
    font-weight: 600;
    color: grey;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
  }